<section>
  <h3>About Myself</h3>
  <div class="face-lockup">
    <div class="face-img"></div>
    
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>
  </div>
  
  <div class="blurb">
    <p><strong>Suspendisse at nibh libero.</strong> Etiam ut lacus eu lorem molestie tempor. Aliquam tincidunt eros erat. Nullam rutrum volutpat egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus a nisl ultricies diam sodales efficitur. Aenean eu sem laoreet, pharetra risus vel, dictum diam. Sed egestas vestibulum massa, laoreet consequat magna vestibulum nec.</p>
  </div>
  
  <div class="skill-lockup">
    
    <div class="skill-unit">
      <div class="skill-label">Communication</div>
        <div class="skill-icons skill-10">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Organization</div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Learning</div>
        <div class="skill-icons skill-9">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
   <div class="skill-unit">
      <div class="skill-label">Planning</div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Presentation</div>
        <div class="skill-icons skill-10">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Visual Design</div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">UX Design</div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
    <div class="skill-unit">
      <div class="skill-label">Programming</div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    
  </div>


</section>